.App {
  text-align: left;
  height: 100vh;
}

.App-header {
  background-color: #e84545;
  color: white;
  width: 100vw;
  
  box-sizing: border-box;
  margin-bottom: 2.5%;
  padding: 10px;
}

.container{
  margin: 2.5% 5%;
}