


.monster-sheet{
    width: 100%;
    color: black;
}

.accordion-header{
    border: black solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-header > *{
    margin: 0px;
    padding: 10px;
    display: inline;
}


.accordion-content{
    margin: 0px;
    padding: 0px 10px;
    background: white;

    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.2s ease-out;
}

.accordion-content.active{
    max-height: 600px;
}

.StatBlock{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    justify-items: center;
    align-items: center;
}

.StatBlock > *{
    margin: 0px;
}